/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Dec-2015, 11:37:42
    Author     : cghislai
*/

body {
    margin: 0;
    font-family: sans-serif;
 
    a{
        text-decoration: none;
        color: blue;
        &:hover {
            color: black;
        }
    }
}
header.mainHeader {
    background-color: #EA2E49;
    padding: 0em;
    .logo {
        display: inline-block;
        vertical-align: middle;
    }
    .title {
        font-size: 2em;
        font-weight: bolder;
        display: inline-block;
        vertical-align: middle;
        color: #001156;
    }

    .mainHeader form {
        display: inline;
    }
    form#toolsForm {
        float: right;
    }


    nav#mainNav {
        padding: 0.2em;
        a {
            font-size: 1em;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            padding-left: 0.3em;
            padding-right: 0.3em;

            &:hover {
                color: yellow;
            }
        }
    }
}


div.content {
    margin: 1em;
    text-align: center;
}

form.centerForm {
    text-align: center;
    margin: auto;
}

.infoTip {
    padding: 0.5em;
    margin: auto;

    &.warning {
        background-color: beige;
    }
    &.medium {
        max-width: 30em;
    }
    p {
        font-weight: lighter;
        font-size: 0.95em;
        padding: 0.2em;
        margin: 0;
    }
}
.formTip {
    margin: .3em;
    font-size: .9em;
    color: gray;
}

table.formTable {
    display: block;
    > tbody{
        display: inline-block;
        > tr > td {
            text-align: left;
            &:first-child {
                text-align: right;
                padding-right: 0.2em;
            }
        }
    }
}

.welcomeBlock {
    margin: 2em auto;

    a {
        display: inline-block;
        margin: 1em;
        font-size: 1.2em;
        text-decoration: none;

    }
}

.slotRow {
    width: 50em;
}
.timeSlot {
    width: 8em;
    height: 3em;
    display: inline-block;
    border: 1px solid black;
    margin: .1em;
    padding: .2em;
    text-decoration: none;
    vertical-align: middle;

    background-color: white;
    &.editable {
        &:hover {
            cursor: pointer;
            background-color: darken(white, 10%);
        }
    }
    &:not(.editable) {
        cursor: default;
    }

    .label {
        font-size: .8em;
        color: black;
        display: inline-block;
        vertical-align: center;
    }


    &.filled {
        background-color: darkgreen;
        &.editable:hover {
            background-color: lighten(darkgreen, 10%);
        }
        .label {
            font-size: .8em;
            color: white;
        }
    }
    &.closed {
        background-color: gray;
    }
    &.filled-0 {

    }
    &.filled-1 {
        background-color: orange;
        &.editable:hover {
            background-color: lighten(orange, 10%);
        }
        .label {
            font-size: .8em;
            color: black;
        }
    }
    &.filled-2 {
        background-color: darkgreen;
        &.editable:hover {
            background-color: lighten(darkgreen, 10%);
        }
        .label {
            font-size: .8em;
            color: white;
        }
    }
}

.editSlotsRow {
    width: 60em;
}
.editSlot {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 10em;
    border: .1em solid black;
    padding: .5em;
    background-color: white;
    
    &.closed {
        background-color: lightgray;
    }

    label {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: .9em;
    }
    a {
        font-size: .7em;
        color: blue;
    }
    
    .ui-widget-content {
        border: none;
    }

    .subscription {
        display: table;
        width: 100%;
        table-layout: fixed;

        >a, >.user {
            display: table-cell;
            vertical-align: middle;
            padding: .3em 0;
        }
        a {
            text-align: right;
            width: 1em;
        }
        .user {
            width: 2em;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: .8em;
        }
    }
}

.subscriptionDialog {
    a {
        color: blue;
        padding: .5em;
        display: block;
    }
    
    .addUserLink {
    }
}


.availabiliesLocationsPanel {
    display: block;
    margin: auto;

    .left {
        display: inline-block;
        vertical-align: top;
        min-width: 30em;
    }

    .map {
        display:inline-block;
        vertical-align: top;
        width: 50em;

        form  {
            height: 40em;
            >*{
                width: 100%;
                height: 100%;
            }
        }
    }

    .locationSelectRow {
        display: table-row;

        .locationListItem {
            padding: .3em .5em;
            text-align: left;
            display: table-cell;
            vertical-align: middle;
            p {
                margin: .1em 0;
                font-size: .9em;
            }
        }

        .locationListSelectionPanel {
            display: table-cell;
            width: 10em;
            text-align: right;
            vertical-align: middle;
        }
    }
}
.availabilitiesSlotsPanel {
    display: block;
    margin: auto;
    text-align: center;
    >div {
        display: inline-block;
    }
    h2 {
        display: inline-block;
    }
    .daySlotsPanel {
        display: table-row;

        .dayLabel {
            font-weight: bold;
            text-align: left;
            vertical-align: middle;
            display: table-cell;
        }
        .slotsRow {
            display: table-cell;
        }
    }
}
