/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Jul-2015, 12:43:07
    Author     : cghislai
*/
body {
    margin: 0;
    font-family: sans-serif;
}
header.mainHeader {
    background-color: #EA2E49;
    padding: 0em;
}
.mainHeader .logo {
    display: inline-block;
    vertical-align: middle;
}
.mainHeader .title {
    font-size: 2em;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    color: #001156;
}
.mainHeader form {
    display: inline;
}

.mainHeader form#toolsForm {
    float: right;
}

nav#mainNav {
    padding: 0.2em;
}

nav#mainNav a {
    font-size: 1em;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
nav#mainNav a:hover {
    color: yellow;
}

div.content {
    margin: 1em;
    text-align: center;
}

form#loginForm {
    text-align: center;
    margin: 1em;
    display: inline-block;
}
